
/* Box sizing fix. Has border included in width instead
of adding it to defined width.*/
*, *:before, *:after {
   box-sizing: border-box;
   -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
}


/* The Micro cf Hack */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

body {
	width: 100%;
	margin: 0 auto;
	background-color: #568a7d;
	font-size: 1.2em;
	font-family: 'Cabin Condensed', sans-serif;
}

p {
	font-size: inherit;
	letter-spacing: 1px;
}
header {
	background-color: rgba(0,92,92,.8);
	position: fixed;
	z-index: 300;
	width: 100%;
	height: 80px;
}
header h1 {
	color: white;
	font-size: 2em;
	display: inline-block;
	padding-left: 10px;
}
.logo {
	width: 50%;
	float: left;
}
nav {
	width: 50%;
	float: right;
	text-align: right;
}
nav li {
	list-style: none;
	display: inline-block;
	padding-right: 40px;
	padding-top: 10px;
}
nav li:nth-child(4) {
	display: none;
}
nav a {
	color: white;
	text-decoration: none;
	transition: all .2s;
}
nav a:hover {
	text-decoration: overline;
	color: yellow;
}
section {
	height: 100vh;
}
#home {
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 100;
	background: url(../img/cc-background.jpg) bottom center no-repeat;
	background-size: cover;
	overflow: hidden;
}
#home .blurb {
	width: 38%;
	position: absolute;
	left: 52%;
	top: 15%;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

#home .blurb h1 {
	font-size: 1.6em;
}

#home .blurb h2 {
	font-size: 1.4em;
	line-height: 0;
}

#home .blurb p {
	font-size: 1.3em;
}

.main button {
	float: left;
	width: 200px;
}

button:active {
	background-color: yellow;
}

.main {
	float: left;
	width: 50%;
	height: 95%;
	padding-left: 40px;
	padding-top: 20px;

}

#craft, .pullResult {
	float: none;
	margin: 0 auto;
	width: 100%;
	padding: 5px;
	background-color: yellow;
	transition: all .2s;
	font-size: 90%;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-webkit-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-moz-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-o-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
}

.main input[type="radio"], .main input[type="checkbox"] {
	display: none;
}

/*Makes label look like button*/
.main label, .continue, .back, .pullResult {
	display: inline-block;
	width: 200px;
	padding: 10px 5px;
	border-radius: 4px;
	font-size: 1.1em;
	text-align: center;
	margin: 10px;
	float: left;
}

.continue, .back {
	float: none;
}

aside {
	width: 430px;
	background-color:#dbdbdb;
	z-index: 200;
	position: absolute;
	top: 20%;
	left:-393px;
	padding-left: 30px;
	border-radius: 10px;
	transition: all .2s;
	box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-webkit-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-moz-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-o-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
}

form {
	width: 350px;
	float:left;
	padding-top: 10px;
	padding-bottom: 10px;
}

form input, form textarea {
	width: 100%;
	height: 30px;
	font-size:.9em;
	margin-top: 10px;
}

form input[type="submit"] {
	background-color: yellow;
}


.tab {
	margin: 0 auto;
	position: absolute;
    top: 50%;
    right: 0px;
	text-align: center;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transition: all .2s;
}

.tab:hover {
	color: #8F0047;
	cursor: pointer;

}

.aside-expand {
	left: -10px;
}

.main label {
	background-color: #ededed;
	border:2px solid #ededed;
	font-weight: bold;
	transition: all .4s;
}

.main .label-checked {
    background-color: #2BBDB9;
    border: 2px solid #0CE8E2;
}

.continue, .back {
	background-color: #C5D600;
	border:0px;
	transition: all .2s;
}

#tryagain{
	width: 70%;
	min-width: 300px;
	height: 40px;
	padding: 5px;
	background-color: #2BBDB9;
	transition: all .2s;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 40px;
	border-radius: 4px;
	font-size: 1 em;
}

#craft:hover {
	background-color:white;
	-webkit-transform: rotate(-1.5deg);
     transform: rotate(-1.5deg);
}

#pullResult {
	background-color: yellow;
	float: left;
	clear: left;
	width: 89%;
	margin: 0 auto;
	border: 0;
	border-radius: 4px;
	text-transform: uppercase;
	transform: all .2s;
}

 #surprise {
 	width: 100%;
 	padding: 9px;
 	margin-top: 20px;
 	background-color:#3D6B99;
 	transition: all .2s;
 	border-radius: 4px;
 	border: 0px;
 	color: white;
 	font-size: 1.1em;
 	box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-webkit-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-moz-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 	-o-box-shadow: -2px 2px 5px rgba(0,0,0,.6);
 }

 #pullResult:hover, #tryagain:hover {
 	background-color: white;
 }

#surprise:hover {
	background-color: #202020;
}

.continue:hover, .back:hover {
	background-color: yellow;
}

.options {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.opts, .checks {
	width: 200px;
	padding: 15px 5px;
	border-radius: 4px;
	font-size: 1.1em;
	text-align: center;
	margin: 5px;
	float: left;
}

#size, #caffiene, #milk-type, #milk-amount, #foam, #flavor, #whip, #loading, #result  {
	display: none;
}

.username {
	padding-top: 70px;
	font-size: 1.3em;
}


.graphic {
	float: left;
	width: 50%;
	text-align: center;
	padding-top: 10px;
}

.graphic img {
	width: 85%;
	max-width: 400px;
	padding-top: 20px;
}

#result graphic img {
	padding-top: 0;
}

#result {
	font-size: 1.5em;
	background: url(../img/background.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;

}

.main label:hover {
	background-color: #2BBDB9;
	border: 2px solid #2BBDB9;
}

.main span {
	font-size: 1.1em;
}

.graphic img {
	width: 85%;
	max-width: 500px;
	padding-top: 20px;
}

#whip .graphic img {
	padding-top: 0px;
	max-width: 400px;
}


#result .graphic img {
	padding-top: 0px;
	max-width: 450px;
}

#loading {
	margin: 0 auto;
	text-align: center;
}

#loading p {
	font-size: 40px;
}

#loading img {
	/*animation-name*/
	 -webkit-animation-name: spin-load;
	 animation-name: spin-load;
	 /*animation-iteration-count*/
	 -webkit-animation-iteration-count: infinite;
	 animation-iteration-count: infinite;
	 /*animation-duration*/
	 -webkit-animation-duration: 2.2s;
	 animation-duration: 2.2s;
	 /*animation-timing-function*/
	 -webkit-animation-timing-function: linear;
	 animation-timing-function: linear;
}


@keyframes spin-load{
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(120deg);
    transform: rotateZ(120deg);
  }
  50% {
    -webkit-transform: rotateZ(240deg);
    transform: rotateZ(240deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes spin-load{
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(120deg);
    transform: rotateZ(120deg);
  }
  50% {
    -webkit-transform: rotateZ(240deg);
    transform: rotateZ(240deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.active {
	z-index: 100;
}

.fwdback {
	float: left;
	clear: left;
}

footer {
	float: left;
	text-align: center;
	clear: both;
	width: 100%;
}


.burger {
	width: 20px;
	padding-top: 10px;
	position: absolute;
	margin-right: 30px;
	z-index: 100;
	right: 8px;
	top: 20px;
	display:none;
}

.line {
	height: 5px;
	border-radius: 3px;
	width: 50px;
	background-color:white;
	margin-top: 10px;
}

#result .main {
	background-color: rgba(255, 255, 255, .2);
}


/* SCREENS --------------------------------------------*/

@media screen and (min-width : 651px) and (max-width : 900px) {
	#home .blurb {
		width: 55%;
		left: 40%;
	} 
}


@media screen and (min-width : 401px) and (max-width : 650px) {
	h1 {
		font-size: 1.3em;
	}

	#home .blurb p  {
		font-size: 1em;
	}

	#home .blurb {
		width: 55%;
		left: 40%;
	}

	nav {
		display:none;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		clear: left;
	}

	nav li {
		width: 100%;
		display: block;
		background-color: #005C5C;
		padding-bottom: 10px;
		margin:0 auto;
	}

	nav li:nth-child(2), nav li:nth-child(3){
		border-top: 1.5px solid white;
	}

	nav li:nth-child(4) {
		display: block;
		border-top: 1.5px solid white;
	}

	.burger {
		display: inline-block;
		margin-right: 50px;
		width: 20px;
	}
	
	aside {
		width: 95%;
		display: none;
		margin: 0 auto;
		position: relative;
	}

	.tab {
		visibility: hidden;
	}

	.logo {
		width: 100%;
		text-align: center;
		clear: right;
	}

	.graphic {
		display: none;
	}

	.options, .main {
		width: 100%;
	}

}

@media screen and (min-width : 200px) and (max-width : 400px) {
	#home .blurb {
		width: 95%;
		left: 7%;
	} 

	.graphic {
		display: none;
	}

	.options, .main {
		width: 100%;
	}
	
	nav {
		display: none;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		clear: left;
	}

	nav li{
		width: 100%;
		display: block;
		background-color: #005C5C;
		padding-bottom: 10px;
		margin:0 auto;
	}

	nav li:nth-child(2), nav li:nth-child(3){
		border-top: 1.5px solid white;
	}

	nav li:nth-child(4) {
		display: block;
		border-top: 1.5px solid white;
	}

	.burger {
		display: inline-block;
		margin-right: 50px;
		width: 20px;
	}

	aside {
		width: 95%;
		display: none;
		margin: 0 auto;
		position: relative;
	}
	
	.tab {
		visibility: hidden;
	}
}